name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install and switch to nightly
      run: rustup toolchain install nightly && rustup default nightly
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Install linter (clippy)
      run: rustup component add clippy
    - name: Install rusfmt
      run: rustup component add rustfmt
    - name: Run formatter
      run: cargo fmt --all -- --check
    - name: Run clippy
      run: cargo clippy -- -D warnings
